@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabin", sans-serif;
}

.home {
  padding: 15px;
}

.App-text-header {
  font-size: 5vw;
}

.App-text-header > span {
  font-size: 2vw;
}

.App-text-content {
  font-size: 3vw;
  margin-top: 20px;
}

.App-icon {
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-right: 25px;
  color: inherit;
  text-decoration: none;
}

.App-icon.linkedin:hover {
  color: #9d49be;
}

.App-icon.github:hover {
  color: #0784ca;
}

.App-icon.spotify:hover {
  color: #137724;
}

.App-icon.email:hover {
  color: #b41e02;
}

.icon-container {
  display: flex;
  flex-grow: grow;
  justify-content: between;
}

.fade {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 1.5s;
}

.delay-3 {
  animation-delay: 2s;
}

.delay-4 {
  animation-delay: 2.5s;
}

/* Icon animations */
.delay-5 {
  animation-delay: 2.5s;
}

.delay-6 {
  animation-delay: 2.75s;
}

.delay-7 {
  animation-delay: 3s;
}

.delay-8 {
  animation-delay: 3.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  .App-text-header {
    font-size: 7vw;
  }

  .App-text-header > span {
    font-size: 4vw;
  }

  .App-text-content {
    font-size: 4vw;
    margin-top: 20px;
  }

  .icon-container {
    flex-wrap: wrap;
    height: 50vh;
  }

  .App-icon {
    width: 50%;
    font-size: 30vw;
    margin-top: 0px;
    margin-right: 0px;
  }
}
